!!!
%html
  %head
    %title Ciber Squash
    = haml :"templates/header_imports"
  %body
    = haml :"templates/nav"

    .pure-g
      - get_events.each do | key, value |
        .pure-u-1.pure-u-md-1-3.l-box
          - date = value["date"]
          - max = value["max"]
          - participants = value["participating"]
          - id = value["id"]
          %p
            Dato: #{date}
            %br
            Plasser: #{participants.size}/#{max}
            %br
            %form.pure-form.pure-form-aligned{:action => "/blimed?id=#{id}", :method => "POST"}
              - unless registered? participants, get_name
                %button.button-success.pure-button{:name => "join", :type => "submit"}
                  Bli med
              - else
                %button.button-error.pure-button{:name => "leave", :type => "submit"}
                  Meld av
            %br
            %button.button-secondary.pure-button{:onclick => "toggleParticipators('#{key}')"}
              Se påmeldte
          %ol{:id => "participators-#{key}", :style => "display: none;"}
            - participants.each do | p |
              %li
                - if p["email"]
                  - md5 = Digest::MD5.hexdigest(p["email"].strip.downcase)
                  %img{:src => "http://www.gravatar.com/avatar/#{md5}", :alt => "Profile of #{p['name']}"}
                = p["name"]

:javascript
  function toggleParticipators(key) {
    var elem = document.getElementById("participators-" + key);
    if (elem.style.display === "none") {
      elem.style.display = "";
    } else {
      elem.style.display = "none";
    }
  }