!!!
%html
  %head
    %title Ciber Squash
    = haml :"templates/header_imports"
  %body
    = haml :"templates/nav"
    
    .pure-g
      .pure-u-1.pure-u-md-1-3.l-box
        - md5 = Digest::MD5.hexdigest(get_email.strip.downcase)
        %img{:src => "http://www.gravatar.com/avatar/#{md5}", :alt => "Profile of #{get_name}"}
        %form.pure-form.pure-form-aligned{:action => "/minside", :method => "POST"}
          %fieldset
            %legend Min profil
            %label{:for => "racket"} Racket
            %input#date{:name => "racket", :placeholder => "Grays 140 Pro", :type => "text", :value => info["racket"]}
            %button.pure-button.pure-button-primary{:type => "submit"}
              Lagre
      .pure-u-1.pure-u-md-1-3.l-box
        Score
        %br
        - get_scores_for_user.each do | value |
          - e = get_event(value["event"])
          - p1 = get_user(value["player1"])["first_name"]
          - s1 = value["score1"]
          - p2 = get_user(value["player2"])["first_name"]
          - s2 = value["score2"]
          #{e["date"]}: #{p1} #{s1} - #{s2} #{p2} 
          %br
